body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif; /*tipografia helvetica o arial*/
	/*COLOR de titulo */ 
	color: rgb(0, 0, 0);
	background: #f2f2f2; 
	font-size: 1em;/*vista de un poquito grande el texto*/
	line-height: 1.5em; /*altura de una linea*/ 
}

/*es lo que controla los titulos generales*/ 
h1 {
	top: 0;
	font-size: 35px;/*tamano de la fuente*/
	line-height: 1.2;
	margin: 10px;
	margin-bottom: 15px;
	margin-right: 1%;
	/*posicion del titulo*/
	text-align: right;
	font-weight: 1000;/*tamano de fuente negrita*/
	/*bordes generales en cuadrado*/
	/*el borde radius es lo que seria el curbeado*/
	padding: 10px;/*espacio de la parte inferior*/

}
.h1 {
	font-size: 1.4em;/*tamano de la fuente*/
	line-height: 1.3em; /*tamano de la fuente*/
	margin: 40px 0 ;
	margin-bottom: 15px;
	/*posicion del titulo*/
	text-align: left;
	font-weight: 300;
	/*bordes generales en cuadrado*/
	border: rgb(131, 64, 64) 3px solid;
	/*el borde radius es lo que seria el curbeado*/
	border-radius: 1px;
	background-color: #a09c9c;
	padding: 10px;
}
/*Apartado de los titulos de cada articulo*/
p{
	margin: 0; /*margen de la caja*/
	font-weight: 5px; /*negrita de 5px*/
	font-size: 15px;; /*tamaño de la fuente de 15px*/
}

.img {
	/*imagen del logo de la FACCI*/
	position:absolute;/*posicion en relación con la ventana grafica*/
	margin-right: 50%; /*margen */
	/*margin-bottom: 10%;*/
}
.apartado1{
	font-size: 1.4em;/*tamano de la fuente*/
	line-height: 1.3em;/*altura de una casilla*/
	margin: 0px; /*margen de 0*/
	margin-bottom: 0px;/*margen inferior de 0*/
	/*posicion del titulo*/
	text-align:left; /*
	font-weight: 300;
	//*bordes generales en cuadrado*/
	border: rgb(131, 64, 64) 1px solid;
	/*el borde radius es lo que seria el curbeado*/
	border-radius: 1px;
	background-color: #ffa3a4;
	padding: 0px;
}


.apartado2{/*
	font-size: 1.4em;
	line-height: 1.3em;
	margin: 0px;
	margin-bottom: 0px;
	/*posicion del titulo*/
	text-align: center;
	font-weight: 300;
	/*bordes generales en cuadrado*/
	border: rgb(131, 64, 64) 1px solid;
	/*el borde radius es lo que seria el curbeado*/
	border-radius: 1px;
	background-color: #ffa3a4;
	padding: 0px;
}
/*Separacion de los parrafos como si fuera un enter*/ 


table, th, td{
	/*apartado de tabla con los apartados de categoria, titulo y autor*/
	border: 1px rgb(131, 64, 64) 1px solid; 
	border-collapse: collapse;
}
#main-header {
	/*estilo de barra de opciones principales*/
	background: #333;/*color de fondo*/
	color: white;/*color de texto*/
	height: 80px;/*altura*/
}	
	#main-header a {
		color: white;
	}

/*
 * Logo
 */
#logo-header {
	/*estilo para el logo*/
	float: left; /*alinear al izquierda*/
	padding: 15px 0 0 20px;
	text-decoration: none;/*texto subrayado ninguno*/
}
	#logo-header:hover {
		color: #0b76a6;/*color letra*/
	}
	
	#logo-header .site-name {
		display: block;/*renderizado por bloques como un div*/
		font-weight: 700;/*negrita de texto*/
		font-size: 1.2em;/*divisionde de letra*/
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	

/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}

				/*elemento de la pantalla de fondo de las palabras*/ 
                #main-content {
					/*fondo*/ 
                    background: white;
					/*tendremos un ancho de la pantalla del 90%*/ 
                    width: 90%;
					/*pero tendra un ancho maximo de 1050px es lo que se ve como una hoja*/ 
                    max-width: 1050px;
					/*esto es para que quede centrado: tendremos 20px de arriba y abajo y de los lados automatico*/ 
                    margin: 10px auto;
                    box-shadow: 0 0 10px rgba(0,0,0,.1);
                }
					/*Apartado de cuerpo de la pagina*/
                    #main-content header,
                    #main-content .content {
                        padding: 0px 50px 0px 50px;
                    }
					/*diseño del indice de la pagina*/
                    #main-footer {
                        background: #333;
                        color: white;
                        text-align: left;/*texto alineado a la izquierda*/
                        padding: 20px;
                        margin-top: 40px;/*maregen superior de 40px*/
                    }
                        #main-footer p {
							/*contenedor de 2021 Grupo 3*/
                            margin: 0;
                        }
                        /*contenedor de Grupo 3*/
                        #main-footer a {
                            color: white;
                        }

/*apartado de buscar*/
.box{
	padding-top: 10px;
	padding-right: 10px;
	overflow: hidden;/*para que el texto que sobresalga del div no sea visible*/
	vertical-align: middle;/*alineado vertical a la mita de las letras minúsculas */
	text-align: right;
	white-space: nowrap;/*determina como se maneja el esapcio en blanco*/
  }
  .container-4{
	/*diseño del apartado del buscador*/
	font-size: 1.4em;
	line-height: 1.3em;
  }

  #articulo-borde{
	  /*borde del resultado del articulo*/
	  border: 2px solid rgb(182, 62, 86);
	  border-top: none;

	  
  }